/* INICIO estilos para DATA TABLE  */

  /* Color cuadro de busqueda */
  #dynamic-table_filter
  {
    color:#FFFFFF !important;
    margin-bottom: 2vh;
  }
  /* Color texto buscar  */
  .dataTables_wrapper .dataTables_filter input
  {
    color:#FFFFFF !important;
  }
  /* Color del body-cada fila de la tabla */
  #dynamic-table tbody{
    color:black;
  }

  /* Informacion de pagina de la data table */
  #dynamic-table_info
  {
    color:#FFFFFF;

  }

  /* Botones paginación dataTable */
  #dynamic-table_paginate
  {
    color:#ffffff !important;
  }

  .paginate_button 
  {
    background-color: #42a5f5 !important;
    background: #42a5f5;
    border-radius: 5px !important;
    margin-top:3.5vh;
    color:#FFFFFF !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover
  {
    color: white !important;
    border: 1px solid #42a5f5 !important;
    background-color: #42a5f5 !important;
    background: #42a5f5 !important;
    opacity: 0.7;
  }
  .dataTables_wrapper .dataTables_filter input{
    margin-left: 2vh !important;
  }

  #dynamic-table_previous
  {
    margin-right: 5vh;
    color: white !important;
  }
  #dynamic-table_next
  {
    color: white !important;
  }

  table.dataTable tbody tr{
    text-align: center;
  }

/* FIN estilos para DATA TABLE  */